<div class="row">
  <div class="add">
    <button [routerLink]="['/employee-add']" class="btn btn-success" type="button">Add</button>
  </div>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Age</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employees">
      <td>{{emp.id}}</td>
      <td>{{emp.name}}</td>
      <td>{{emp.age}}</td>
      <td>{{emp.createdAt | date}}</td>
      <td>
        <button [routerLink]="['/employee-detail',emp.id]" type="button">Detail</button>
        <button [routerLink]="['/employee-edit',emp.id]" class="btn btn-primary" type="button">Edit</button>
        <button (click)="delete(emp.id)" class="btn btn-danger" type="button">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li *ngFor="let page of pages"><a [routerLink]="['/employees']" [queryParams]="{page:page,filter:'abc'}">{{page}}</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>